<div class="armor">
    <table>
        <tbody>
        <tr>
            <td><label>RK<div class="sub-label">Rüstungsklasse</div></label></td>
            <td><input type="number"></td>
            <td>= 10 +</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number" [value]="char.attributes.dexterity.modValue"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td><label style="font-size: .8rem;">Berührung<div class="sub-label">(Rüstungsklasse)</div></label></td>
            <td><input type="number"></td>
            <td colspan="4"><label style="font-size: .8rem;">Auf dem falschen Fuß<div class="sub-label">(Rüstungsklasse)</div></label></td>
            <td><input type="number"></td>
            <td colspan="3"><input type="number"></td>
        </tr>
        </tbody>
    </table>
</div>