<div class="armor">
    <table>
        <tbody>
        <tr>
            <td><label>RK<div class="sub-label">Rüstungsklasse</div></label></td>
            <td><input type="number"></td>
            <td>= 10 +</td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td><label>Berührung<div class="sub-label">(Rüstungsklasse)</div></label></td>
            <td><input type="number"></td>
            <td colspan="4"><label>Auf dem falschen Fuß<div class="sub-label">(Rüstungsklasse)</div></label></td>
            <td><input type="number"></td>
            <td colspan="3"><input type="number"></td>
        </tr>
        </tbody>
    </table>
</div>