<div class="saving-throws">
    <table>
        <thead>
        <tr>
            <td>Rettungswürfe</td>
            <td>Gesamt</td>
            <td>Grund-Bonus</td>
            <td>Attributs-Mod.</td>
            <td>Magie-Mod.</td>
            <td>Sonstige-Mod.</td>
            <td>Temp-Mod.</td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><label>Reflex<div class="sub-label">(Geschicklichkeit)</div></label></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td><label>Willen<div class="sub-label">(Weisheit)</div></label></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
        <tr>
            <td><label>Zähigkeit<div class="sub-label">(Konstitution)</div></label></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
            <td><input type="number"></td>
        </tr>
        </tbody>
    </table>
</div>